<div class="main-intro-wrapper" >
  <div class="intro-top-line">
    <div class="22">
      <div class="intro-bold-line"></div><div class="intro-thin-line"></div>
    </div>
  </div>
  <div class="logo-wrapper"></div>
  <div class="intro-bottom-line">
    <div class="intro-thin-line"></div><div class="intro-bold-line"></div>
  </div>

  <div class="scroll-wrapper cursor" [routerLink]="['/main/aboutus']">
    <span class="scroll-line"></span>
    <span class="scroll-circle"></span>
    <span class="scroll-txt">SCROLL</span>
  </div>
</div>