@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(58px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(58px); }
}

@keyframes animation-slide-in-left {
    0% {
        transform: translate(-100%,0);
    }

    100% {
        transform: translate(0,0);
    }
}
@keyframes animation-slide-in-right {
    0% {
        transform: translate(100%,0);
    }

    100% {
        transform: translate(0,0);
    }
}

.main-intro-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .intro-top-line{
        width:50%;
        height: 50%;
        position: absolute;
        top:0;
        left:0;
        margin-top:7em;
        .intro-bold-line{
            border-bottom: 16px solid #323334;
            animation: animation-slide-in-left 2.4s ease;
        }
        .intro-thin-line{
            border-bottom: 4px solid #323334;
            margin-top: 20px;
            animation: animation-slide-in-left 3s ease;
        }
    }
    .intro-bottom-line{
        width:50%;
        height: 50%;
        position: absolute;
        bottom:0;
        right:0;
        margin-bottom:-10em;
        .intro-thin-line{
            border-bottom: 1px solid #323334;
            animation: animation-slide-in-right 1.8s ease;
        }
        .intro-bold-line{
            border-bottom: 4px solid #323334;
            margin-top: 20px;
            animation: animation-slide-in-right 2.4s ease;
        }
    }
    .logo-wrapper{
        width: 46%;
        max-width: 920px;
        height: 180px;
        position: absolute;
        top: 50%;
        left:0;
        right:0;
        margin: -160px auto 0;
        background-image: url('../../../assets/images/dobedo-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .scroll-wrapper {
        height:72px;
        position: absolute;
        margin-left:-1px;
        left: 50%;
        bottom: 56px;
        box-sizing: content-box;

        .scroll-line{
            width: 1px;
            height: 66px;
            background-color: black;
            position: absolute;
        }
        .scroll-circle {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -9px;
            width: 20px;
            height: 20px;
            margin-top:-10px;
            background-color: #d9b8bd;
            border-radius: 50%;
            -webkit-animation: mover 2s infinite  alternate;
            animation: mover 2s infinite  alternate;
        }
        .scroll-txt{
            min-width: 72px;
            position:absolute;
            text-align: center;
            bottom: 0;
            margin-left: -34px;
            margin-bottom: -30px;
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
}

/* 여기서부터 데스크탑 */
@media all and (min-width: 1680px) {
}

@media all and (min-width: 1200px) and (max-width: 1679px) {
}


/* 여기서부터 모바일 */
@media all and (min-width: 768px) and (max-width: 1199px) {
    .main-intro-wrapper{
        .logo-wrapper{
            width: 64%;
        }
    }
}

@media all and (max-width: 767px) {
    .main-intro-wrapper{
        .logo-wrapper{
            width: 80%;
        }
    }
}

