<nav class="navbar-wrapper">
  <ul class="navbar-content">
    <li class="left-side">
      <a class="nav-link" [routerLink]="['/main/aboutus']" [routerLinkActive]="['active']">About us</a>
    </li>
    <li class="nav-logo">
      <a class="nav-link" [routerLink]="['/intro']"><img src="../../../assets/images/dobedo-logo.png" alt="logo"></a>
    </li>
    <li class="right-side">
      <a class="nav-link" [routerLink]="['/intro']" [routerLinkActive]="['active']">What we do</a>
    </li>
  </ul>
</nav>