.navbar-wrapper{
    width: 100%;
    height: 160px;
    line-height: 160px;
    .navbar-content{
        width:100%;
        max-width: 1140px;
        display: flex;
        margin: 0 auto;
        padding:0 !important;
        .left-side{
            flex: 1 1 0;
        }
        .right-side{
            flex: 1 1 0;
            text-align: right;
        }
        .nav-logo {
            max-width: 232px;
            img{
                width: 100%;
            }
        }
        .nav-link{
            display:inline-block;
            font-size: 1.25rem;
            padding:0 20px;
            line-height: 48px;
            color: #1d1f20;
            font-weight: 300;
            &.active {
                color:#fff;
                background-color:#879aa4;
            }
        }
    }
}