/* You can add global styles to this file, and also import other style files */

@import url('https://cdn.rawgit.com/kattergil/seoulNamsan-Webfont/ce840f3d/styles.css');
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html{
    font-size:16px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
.cursor{
    cursor: pointer;
}

/* 여기서부터 데스크탑 */
@media all and (min-width: 1680px) {
}

@media all and (min-width: 1200px) and (max-width: 1679px) {
}


/* 여기서부터 모바일 */
@media all and (min-width: 768px) and (max-width: 1199px) {
}

@media all and (max-width: 767px) {
    html{
        font-size:12px;
    }
}